<nav class="navbar">
    <div id="navbar">
    	<div class="container">
	      <a class="logo" href="/"><img src="src/images/logo.png"></a>
	    	<ul class="nav navbar-nav navbar-right second">
	      	<li>Sort by:</li>
					<li><span ng-click="sortType = 'questionId'; itemClicked(0)"  ng-class="{ 'checked': 0 == selectedIndex } ">recent</span></li>
					<li>or</li>
					<li><span ng-click="sortType = 'questionVotes'; itemClicked(1)" ng-class="{ 'checked': 1 == selectedIndex } ">hot</span></li>
	      </ul>
	      <div class="first">
					<input id="shelf" type="radio" name="choose" value="shelf"> 
					<label for="shelf">My shelf</label>
					<input id="all" type="radio" name="choose" value="all"> 
					<label for="all">All questions</label>
	      </div>
	      <div class="input-group">
			      <input type="text" class="form-control" ng-model="searchText" placeholder="Search questions">
			      <span class="input-group-btn">
			        <p>Search</p>
			      </span>
			  </div>
    	</div>
    </div>
</nav>
<div class="section">
	<div class="container">
		<div class="content">
			<div class="question" ng-repeat="question in questions  | limitTo: questionLimit | filter:searchText | orderBy:sortType">
				<div class="left">
					<div class="box-out">
						<div class="header">
							<img ng-click = "show(question.userId)" class="main-user" src="{{users[question.userId].imageUrl}}">
							<p>{{users[question.userId].name}}<span>is asking:</span></p>
							<h4>{{question.question}}</h4>
						</div>
						<p class="asked">asked</p>
						<div class="box-in">
							<a href="/questions/{{question.questionId}}" class="user-box more">
									<p class="number">{{question.activities}}</p>
									<p class="more">more activities</p>
									<span></span>
							</a>
							<div class="users">
								<div  class="user-box" ng-repeat="comment in question.comments | limitTo: boxLimit" ng-class="{answered: comment.answered == true }" >
									<img ng-click = "show(comment.userId)" src="{{users[comment.userId].imageUrl}}">
									<p class="status">{{ comment.answered == true ? 'answered' : 'commented' }}</p>
									<span></span>
								</div>
							</div>
							<div class="mobile-right">
									<p>{{question.related}} related discussion</p>
									<p>{{question.peersInvolved}} peers involved</p>
									<p>{{question.conversations}} conversations</p>
							</div>
						</div>
					</div>
				</div>
				<div class="right">
						<p>{{question.related}} related discussion</p>
						<p>{{question.peersInvolved}} peers involved</p>
						<p>{{question.conversations}} conversations</p>
				</div>
			</div>
		</div>
		<p class="load" ng-click = "loadQuestions()">load more questions</p>
	</div>
</div>

<div  ng-show= "showDialog" class="modal-box ">
	<div user-directive></div>
</div>




