<nav class="navbar single-question">
    <div id="navbar">
    	<div class="container">
    		<a class="back" href="#"><span class="glyphicon glyphicon-circle-arrow-left" ></span></a>
	      <a class="logo" href="/question"><img src="src/images/logo.png"></a>
	      <p>Last time discussed <span>1</span>day ago</p>
    	</div>
    </div>
</nav>
<div class="section single-question">
	<div class="container">
		<div class="content">
			<div class="question">
				<div class="left">
					<div class="box-out">
						<div class="header">
							<a href="#/question"><img class="main-user" src="src/images/user1.png"></a>
							<p>Eva <span>is asking:</span></p>
							<p class="unfollow">unfollow</p>
							<h4>Will insulin make my patient gain weight?</h4>
						</div>
						<div class="box-in">
							<div class="col-xs-9">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
								</p>
							</div>
							<div class="col-xs-3 votes">
								<p>19 upvotes</p>
								<div class="vote">
									<a class="up" href="#"><span class="glyphicon glyphicon-triangle-top" ></span></a>
									<a class="down" href="#"><span class="glyphicon glyphicon-triangle-bottom" ></span></a>
								</div>
							</div>
					</div>
		      	<a class="btn btn-default question-button" type="button">GIVE new answer</a>
				</div>
			</div>
		</div>
		<p class="comments">2 peers already answered Eva</p>
		<div class="answer-box">
			<div class="face">
				<img src="src/images/user2.png">
			</div>
			<div class="content-box">
				<div class="col-xs-9">
					<div class="header">
							<p>Patricia <span>commented it:</span><span>yesterday</span></p>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-xs-3 votes">
					<p>19 upvotes</p>
					<div class="vote">
						<a class="up" href="#"><span class="glyphicon glyphicon-triangle-top" ></span></a>
						<a class="down" href="#"><span class="glyphicon glyphicon-triangle-bottom" ></span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="answer-box discussion">
			<div class="face">
				<img src="src/images/user4.png">
			</div>
			<div class="content-box">
				<div class="col-xs-9">
					<div class="header">
							<p>John <span>commented it:</span><span>yesterday</span></p>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-xs-3 votes">
					<p>19 upvotes</p>
					<div class="vote">
						<a class="up" href="#"><span class="glyphicon glyphicon-triangle-top" ></span></a>
						<a class="down" href="#"><span class="glyphicon glyphicon-triangle-bottom" ></span></a>
					</div>
				</div>
			</div>
			<a class="btn btn-default question-button" type="button">CONTINUE discussion</a>
		</div>
		<div class="answer-box">
			<div class="face">
				<img src="src/images/user3.png">
			</div>
			<div class="content-box">
				<div class="col-xs-9">
					<div class="header">
							<p>Michael <span>commented it:</span><span>yesterday</span></p>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-xs-3 votes">
					<p>19 upvotes</p>
					<div class="vote">
						<a class="up" href="#"><span class="glyphicon glyphicon-triangle-top" ></span></a>
						<a class="down" href="#"><span class="glyphicon glyphicon-triangle-bottom" ></span></a>
					</div>
				</div>
			</div>
			<a class="btn btn-default question-button" type="button">COOMMENT</a>
		</div>
	</div>
</div>

