
<div class="section-modal">
	<span ng-click = "close()" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	<div class="container">
		<div class="header-modal header">
			<img src="{{user.imageUrl}}">
			<h4>{{user.name}}</h4>
			<p><span>Member for</span>{{user.memberFrom}} months</p>
			<p><span>Last seen</span>{{user.lastSeen}}</p>
			<p>
				<span>Activity level</span>
				<span ng-class="{ 'cert-color': user.level >= 1 } " class="glyphicon glyphicon glyphicon-certificate cert"></span>
				<span ng-class="{ 'cert-color': user.level >= 2 } " class="glyphicon glyphicon glyphicon-certificate cert"></span>
				<span ng-class="{ 'cert-color': user.level == 3 } " class="glyphicon glyphicon glyphicon-certificate cert"></span>
			</p>
		</div>
		<div class="content-modal">
			<h2>How it all started</h2>
			<p>That's where we have been these 5 months ago</p>
			<div class="box-content">
				<div class="box box1">
					<div class="content-box1">
						<p>{{user.peers}}</p>
						<p>peers</p>
					</div>
				</div>
				<div class="box box2">
					<div class="content-box2">
						<p>{{user.discussions}}</p>
						<p>discussions</p>
					</div>
				</div>
				<div class="box box3">
					<div class="content-box3">
						<p>{{user.findings}}</p>
						<p>findings</p>
					</div>
				</div>
				<div class="box box4">
					<div class="content-box4">
						<p>{{user.questions}}</p>
						<p>questions</p>
					</div>
				</div>
			</div>
			<p>Who joined the pletform that same period</p>
			<div class="friends-box">
				<div class="friend" ng-repeat="friend in user.whoJoinedWith">
					<img src="{{users[friend].imageUrl}}">
					<p>{{users[friend].name}}</p>
				</div>
			</div>
		</div>
	</div>
</div>

