
<div class="section-modal">
	<div class="container">
		<div class="header-modal header">
			<img src="src/images/user5.png">
			<h4>Dr. Halima</h4>
			<p><span>Member for</span>5 months</p>
			<p><span>Last seen</span>Saturday afternoon</p>
			<p>
				<span>Activity level</span>
				<span class="glyphicon glyphicon glyphicon-certificate cert"></span>
				<span class="glyphicon glyphicon glyphicon-certificate cert"></span>
				<span class="glyphicon glyphicon glyphicon-certificate cert"></span>
			</p>
		</div>
		<div class="content-modal">
			<h2>How it all started</h2>
			<p>That's where we have been these 5 months ago</p>
			<div class="box-content">
				<div class="box box1">
					<div class="content-box1">
						<p>49</p>
						<p>peers</p>
					</div>
				</div>
				<div class="box box2">
					<div class="content-box2">
						<p>29</p>
						<p>discussions</p>
					</div>
				</div>
				<div class="box box3">
					<div class="content-box3">
						<p>19</p>
						<p>findings</p>
					</div>
				</div>
				<div class="box box4">
					<div class="content-box4">
						<p>10</p>
						<p>questions</p>
					</div>
				</div>
			</div>
			<p>Who joined the pletform that same period</p>
		</div>
	</div>
</div>

